<!DOCTYPE html>
<html>
<head>
  <title>Devathlon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Home", root_url %>
      <%= link_to "Events", events_path %>
      <%= link_to "Workouts", workouts_path %>
      <%= link_to "Loot", loot_path %>
    </div>
  </div>
</div>
<header class="jumbotron subhead">
  <div class="container">
    <h1>This is the Devathlon</h1>
    <p class="lead">Developers in motion</p>
  </div>
</header>

<div class="container">
<%= yield %>
</div>

</body>
</html>
